<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Listado de tareas realizadas</h3>
        <div class="row">
          <div class="col-lg-3">
              <button class="btn btn-link" [routerLink]="['/asignartareas']" routerLinkActive="router-link-active" ><i class="fa fa-check-square"></i> ASIGNAR TAREA</button>
          </div>
          <div class="col-lg-9">
              <label for="">Buscar por nombre de tarea</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="filtros.nombreTarea" placeholder="Nombre de tarea">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Filtros</button>
                </div>
              </div>
          </div>
        </div>
        <div class="form-group">
          

          <!-- QuitarFiltros -->
          <span class="mr-4" *ngIf="filtros.nombreTarea !=''"> Tarea especifica <button class="btn btn-link"
              (click)="quitarFiltro('nombreTarea')"><i class="fa fa-trash"></i></button></span>
          <span class="mr-4" *ngIf="filtros.fechaDesde !=''"> Desde la fecha: {{filtros.fechaDesde}} <button class="btn btn-link"
              (click)="quitarFiltro('fechaDesde')"> <i class="fa fa-trash"></i> </button></span>
          <span class="mr-4" *ngIf="filtros.fechaHasta !=''"> Hasta la fecha: {{filtros.fechaHasta}} <button class="btn btn-link"
              (click)="quitarFiltro('fechaHasta')"> <i class="fa fa-trash"></i></button></span>
          <span class="mr-4" *ngIf="filtros.nombreIntendente !=''"> Intendente especifico <button class="btn btn-link"
              (click)="quitarFiltro('nombreIntendente')"><i class="fa fa-trash"></i></button></span>
          <span class="mr-4" *ngIf="filtros.nombreArea !=''"> Area especifica <button class="btn btn-link"
              (click)="quitarFiltro('nombreArea')"><i class="fa fa-trash"></i></button></span>
          <span class="mr-4"
            *ngIf="filtros.nombreArea!='' || filtros.fechaDesde!='' || filtros.fechaHasta!='' || filtros.nombreIntendente!='' || filtros.nombreArea!=''">Quitar todos
            los filtros <button class="btn btn-link" (click)="quitarFiltro('todos')"><i
                class="fa fa-trash"></i></button></span>

          <!-- Fin de quitarFiltros -->
        </div>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <div class="row">
              <div class="col-lg-3">
                <div class="form-group">
                  <label>Desde la fecha:</label>
                  <input type="date" class="form-control" [(ngModel)]="filtros.fechaDesde">
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label>Hasta la fecha:</label>
                  <input type="date" class="form-control" [(ngModel)]="filtros.fechaHasta">
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label>Intendente: </label>
                  <select class="form-control" [(ngModel)]="filtros.nombreIntendente">
                    <option value="">Todos</option>
                    <option *ngFor="let i of intendentes" [value]="i._id">{{i.nombre}}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label>Area: </label>
                  <select class="form-control" [(ngModel)]="filtros.nombreArea">
                    <option value="">Todos</option>
                    <option *ngFor="let a of areas" [value]="a._id">{{a.nombre}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- <div class="row mt-4">
    <div class="col-lg-12">
      <div class="table-responsive-md">
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Tarea</th>
              <th scope="col">Area</th>
              <th scope="col">Intendente</th>
              <th scope="col">Comentarios</th>
              <th scope="col">Fecha</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of tareasRealizadas">
              <td scope="row" >kahasdhakjsdhkjasdkjdalkdkjasdjaskdjaklsdsakash</td>
              <td scope="row" >kahasdhakjsdhkjasdkjdalkdkjasdjaskdjaklsdsakash</td>
              <td scope="row" >kahasdhakjsdhkjasdkjdalkdkjasdjaskdjaklsdsakash</td>
              <td scope="row" >kahasdhakjsdhkjasdkjdalkdkjasdjaskdjaklsdsakash</td>
              <td scope="row" >kahasdhakjsdhkjasdkjdalkdkjasdjaskdjaklsdsakash</td>
              <td scope="row" >asd</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->

<div class="table-responsive mt-5">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Tarea</th>
        <th scope="col">Area</th>
        <th scope="col">Intendente</th>
        <th scope="col">Comentarios</th>
        <th scope="col">Fecha</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of tareasRealizadas 
      | busqueda: { busqueda:filtros.nombreTarea, termino:termino }
      | realizadaDesdeFecha: filtros.fechaDesde
      | realizadaHastaFecha: filtros.fechaHasta
      | realizadaIntenente: filtros.nombreIntendente
      | realizadaArea: filtros.nombreArea
      | paginate: { itemsPerPage: 10, currentPage: p }
      ">
        <td scope="row">{{t.tarea['nombre']}}</td>
        <td scope="row">{{t['tarea']['area']['nombre']}}</td>
        <td scope="row">{{t['intendente']['nombre']}}</td>
        <td scope="row">{{t['comentario']}}</td>
        <td scope="row">{{t['fecha']}}</td>
        <td scope="row">
          <a [routerLink]="['/trintendenteadmin', t['_id']]" routerLinkActive="router-link-active" > <i class="fa fa-eye"></i> Detalles</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </div>
</div>